* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  /* This will inherit the color of its parent */
  color: inherit;
  text-decoration: none;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  background: #3d515c;
  color: #ebedee;
  min-height: 100px;
  padding: 10px;
  flex: 1.5 1 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fab,
.far {
  font-size: 3em;
  margin: 10px;
}

#main {
  flex: 8.5 1 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
}

#grid-container {
  min-height: 500px;
  min-width: 500px;

  display: grid;
  padding: 10px;
  border: 3px solid #ae0000;
  border-radius: 20px;

  /* Define the columns and rows of the grid with the specific size. */
  grid-template-columns: 125px 125px 125px 125px;
  grid-template-rows: 150px 70px 70px 70px 70px 70px;

  /* Make a gap between grid items. You can think of this as setting the
  width of grid line, thus makes a gap between the items */
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  grid-template-areas:
    "display display display display"
    "top-row top-row top-row top-row"
    "main main main operators"
    "main main main operators"
    "main main main operators"
    "main main main operators"
}

/* All the buttons under grid-container */
#grid-container button {
  border: none;

  font-size: 20px;
  border-radius: 4px;
}

#grid-container button:focus {
  border: 1px solid #bdc1c6;
}

/* number, decimal */
.item-b {
  grid-area: main;
  background: #f1f3f4;
}

.item-b:hover {
  background: #e8eaeb;
}

/* (,), DEL, AC */
.item-c {
  grid-area: operators;
  background: #dfe1e5;
}

/* +, -, x, ÷ */
.item-d {
  grid-area: top-row;
  background: #dfe1e5
}

.item-c:hover,
.item-d:hover {
  background: #d7d9dd;
}

#display {
  
  grid-column-start: 1;
  grid-column-end: 5;

  border: 1px solid #ebebeb;
  border-radius: 20px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#display:hover {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
}

#display:focus {
  /* When focused, there's a default outline being applied,
     So I needed to make sure remove of that */
  outline: none;

  border: 2px solid rgb(0, 95, 204);
}

#number-section {
  /* flex-grow: 1; */
  height: 72px;
  line-height: 72px;
  font-size: 30px;
  margin-right: 15px;
  max-width: 97%;
  
  overflow: hidden;

  /* This will make when number is overflowing,
  new number will replace an old number */
  /* direction: rtl; */
}

#zero {
  grid-row: 6;
  grid-column: 1;
}

#one {
  grid-row: 5;
  grid-column: 1;
}

#two {
  grid-row: 5;
  grid-column: 2; 
}

#three {
  grid-row: 5;
  grid-column: 3; 
}

#four {
  grid-row: 4;
  grid-column: 1; 
}

#five {
  grid-row: 4;
  grid-column: 2; 
}

#six {
  grid-row: 4;
  grid-column: 3; 
}

#seven {
  grid-row: 3;
  grid-column: 1; 
}

#eight {
  grid-row: 3;
  grid-column: 2; 
}

#nine {
  grid-row: 3;
  grid-column: 3; 
}

#add {
  grid-row: 6;
  grid-column: 4; 
}

#subtract {
  grid-row: 5;
  grid-column: 4; 
}

#multiply {
  grid-row: 4;
  grid-column: 4; 
}

#divide {
  grid-row: 3;
  grid-column: 4; 
}

#decimal {
  grid-row: 6;
  grid-column: 2; 
}

#equal {
  grid-row: 6;
  grid-column: 3; 
  background: #4285f4;
  color: white;
}

#equal:hover {
  background: #4d8bf1;
}

#equal:active {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1px 1px 3px 0 rgba(66,133,244,.45), -1px -1px 3px 0 rgba(66,133,244,.30)
}

#clear {
  grid-row: 2;
  grid-column: 1 / 4; 
}

#delete {
  grid-row: 2;
  grid-column: 4; 
}

@media screen and (max-height: 800px) {
  /* Change the calculator size */
  #grid-container {
    min-width: 300px;
    min-height: 350px;

    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 85.7px repeat(5, 42.85px);
  }

  /* change the size of header title */
  #header-first-row h1 {
    font-size: 1.5em;
  }

  .fab,
  .far {
    font-size: 2em;
    margin: 3px;
  }
}

/* Mobile Devices */
@media screen and (max-width: 630px) {
  /* Change the calculator size */
  #grid-container {
    min-width: 300px;
    min-height: 315px;

    grid-template-columns: repeat(4, 66.25px);
    grid-template-rows: 85.7px repeat(5, 42.85px);
  }

  /* change the size of header title */
  #header-first-row h1 {
    font-size: 1.5em;
    text-align: center;
  }

  #header-second-row {
    min-width: 300px;
    text-align: center;
  }

  #header-first-row {
    min-width: 300px;
  }

  .fab,
  .far {
    margin: 3px;
    font-size: 2em;
  }
}